@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* BASIC ALIGNMENT */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: #000;
    color: #fff;
}
.container {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 15vh;
}

/* CONTAINER INTERNALS */

h2 {
 	font-size:3rem;
}
.description {
	text-align: center;
	padding: 1rem;
}
.description span {
	font-style: italic;
}

/* RESULTS */

.results {
	display: flex;
	font-size: 1rem;
	background: #fff;
	color: #000;
	width: 20rem;
	margin: 1rem;
	text-align: center;
	align-items: center;
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	/* TODO convert padding to shorthand later */
	justify-content: space-between;
	/* padding-top: 0.5rem; */
	border-radius: 5px;
}
#clipboard {
	/* margin-left: 10.5rem; */
	/* padding: 0.5rem; */
	font-size: 1.75rem;
	background-color: white;
	border: 0px solid;
}

/* SETTING PARAMETERS */

.settings {
	font-size: 1rem;
    width: 15rem;
    border: 1px solid #888;
    padding: 0.5rem;
    border-radius: 5px;
}
.setting {
	line-height: 2.5rem;
	display: flex;
	justify-content: space-evenly;
}
.checkmark {
	border-radius: 50%;
	/* TODO this won't work? */
}
#lower {
	margin-left: 1rem;
}
#upper {
	margin-left: 0.8rem;
}
#numbers {
	margin-left: 1.5rem;
}
#symbols {
	margin-left: 1.9rem;
}

/* "GENERATE PASSWORD" BUTTON */

#generate {
	margin-top: 1rem;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3rem;
	padding: 1rem;
	border: 1px solid #fff;
	border-radius: 5px;
	font-weight: 700;
	color: #fff;
    background: #000;
}

/* HOVER STATES */

#generate:hover {
	color: #000;
    background: #fff;
    transition-duration: 0.4s;
	cursor: pointer;
}
#clipboard:hover {
	cursor: pointer;
}